<ion-header>
  <ion-toolbar class="custom_header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="chanhge-password-div">
    <form name="form" (ngSubmit)="f.form.valid && change(f)" #f="ngForm" method="post" id="change-form" [mustMatch]="['new_pass', 'c_pass']">
      <div class="ion-padding">
        <ion-label class="ticket_label bold">Old password</ion-label>
        <ion-input class="ticket-text" [(ngModel)]="old_pass" #old_passs="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && old_passs.invalid }" required placeholder="Enter old password"
          name="old_pass"></ion-input>
        <div *ngIf="f.submitted && old_passs.invalid" class="invalid-form">
          <div *ngIf="old_passs.errors.required">Old password is required</div>
        </div>
      </div>
      <div class="ion-padding">
        <ion-label class="ticket_label bold">New password</ion-label>
        <ion-input type="password" class="ticket-text" [(ngModel)]="new_pass" #new_passs="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && new_passs.invalid }" required minlength="6" placeholder="Enter new password"
          name="new_pass"></ion-input>
        <div *ngIf="f.submitted && new_passs.invalid" class="invalid-form">
          <div *ngIf="new_passs.errors.required">New password is required</div>
          <div *ngIf="new_passs.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="ion-padding">
        <ion-label class="ticket_label bold">Re-type password</ion-label>
        <ion-input  type="password" class="ticket-text" [(ngModel)]="c_pass" #c_passs="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && c_passs.invalid }" required placeholder="Enter re-type password"
          name="c_pass"></ion-input>
        <div *ngIf="f.submitted && c_passs.invalid" class="invalid-form">
          <div *ngIf="c_passs.errors.required">Re-type password is required</div>
          <div *ngIf="c_passs.errors.mustMatch">New password and re-type password  must match</div>
        </div>
      </div>
      <div class="ion-padding">
        <a class="add">
          <ion-button class="custom_btn enforce_login_btn" type="submit">Change</ion-button>
        </a>
      </div>
    </form>
  </div>
</ion-content>