
<ion-content class="home-bg">
	<a class="logout_btn" (click)="logout()">
	 <ion-icon name="power"></ion-icon>		
	</a> 
	<div class="home-content-div">
		<div class="ion-padding">    
			  <a class="add custom_btn" routerLink="/parking-detail">
				<ion-button class="custom_btn home-a-tag bold" type="button" >Verify Licence</ion-button>
			  </a>
			  <a class="add custom_btn" routerLink="/work-log">
				<ion-button class="custom_btn work_log_btn home-a-tag bold" type="button" >Work log</ion-button>
			  </a> 
			  <a class="add custom_btn" routerLink="/special-ticket">
				<ion-button class="custom_btn home-a-tag bold" type="button" >Special Tickets</ion-button>
			  </a> 
		</div>
	</div> 
</ion-content>
