<ion-content class="bg">
  <div class="ion-padding">
    <ion-card class="login_header">
      <ion-card-header class="custom_login_bg">
        <div class="login_heading">Forget Password</div>
      </ion-card-header>
      <ion-card-content>
        <img class="login_image" src="../assets/img/car.png">
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-padding">
    <div class="forget_msg">
      <ion-icon name="lock-closed-outline" class="login_icon"></ion-icon>

      We just need your registered email address to send you password.
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && forget(f)" #f="ngForm" method="post" id="forget-password">

    <div class="ion-padding">
      <ion-icon name="mail" class="login_icon"></ion-icon>
      <ion-item>
        <ion-input class="login_input" [(ngModel)]="email" #emails="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && emails.invalid }" required email name="email" placeholder="Email">
        </ion-input>
      </ion-item>
      <div *ngIf="f.submitted && emails.invalid" class="invalid-feedback">
        <div *ngIf="emails.errors.required">Email is required</div>
        <div *ngIf="emails.errors.email">Must be a valid email address</div>
      </div>
    </div>

    <div class="ion-padding" id="forget-btn">
      <a class="add">
        <ion-button class="custom_btn enforce_login_btn" type="submit">Submit</ion-button>
      </a>
    </div>
  </form>
</ion-content>